<h1>Listing ideas</h1>

<% @ideas.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |idea| %>
          <div class="col-md-4">
            <%= image_tag idea.picture_url, width: '100%' if idea.picture.present?%>
            <h4><%= link_to idea.name, idea %></h4>
            <%= idea.detail %>
          </div>
      <% end %>
    </div>
<% end %>